doctype html
html
  head
    // link(href='https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css' rel='stylesheet')
    link(href='./css/style.css' rel='stylesheet')
  body.color-bkg-2
    .grid-container
        .grid-logo.block
          img(src='./img/logo.svg' alt='ixati logo')
        section.grid-lead-in.right-align.block.color-bkg-3
          h1.serif.color-font-1 We are a group of outcome oriented technology consultants.

        section.grid-description.block.color-font-1
          p
            | We specialize in solving hard business and technology problems, where devices and data intersect with harsh realities like escalating costs, shrinking margins, and cybersecurity.
          p
            | We can help you untangle these problems and get on the right path.
          button#button.color-bkg-1.color-font-2 Common Challenges
          p Test out Github Actions
